.cardHeader {
  flex: 2;
}

.cardContent {
  flex: 3;
}

.cardContentNotes {
  text-align: justify;
}

.cardContentNotes {
  text-align: justify;
  margin-bottom: 0.3rem;
}

.cardFooter {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.itemSpacing {
  padding: 0.5rem;
}

.itemSpacingFooter {
  padding: 0 0.5rem 0 0.5rem;
}
