.headerTitle {
  letter-spacing: 0.5rem;
  margin-left: 1rem;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* override material ui */
  padding: 0px !important;
}

.headerOptionContainer {
  width: 5rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.tcSticks {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.sideStick {
  height: 0.5rem;
  width: 2rem;
}

.middleStick {
  height: 0.5rem;
  width: 3rem;
  background-color: #ecebeb;
  margin: 0.2rem 0 0.2rem 0;
}

.topStick {
  background: linear-gradient(90deg, #c3f24b 50%, #58dacb 100%);
}

.bottomStick {
  background: linear-gradient(270deg, #09d1e1 20%, #2f92c3 100%);
}
